---
---

@import "{{ site.theme }}";

html,body {
    background: green
}

body {
    color: white;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

h2,h3,h4,h5 {
    margin-top: 1.5rem
}

h6 {
    color: lightslategray;
    margin-top: 1rem
}

hr {
    margin: 2rem
}

p {
    margin: 1rem 0
}

.w {
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 4rem 2rem;
    background: black;
    border: thin solid #f0f8ff
}

code {
    color: black;
    background: white
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem
}

blockquote {
    font-style: italic;
    border: thin solid darkgray;
    padding: 1rem
}

blockquote p {
    margin: 0
}

img {
    display: block;
    margin: auto
}
